<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页<i class="fa fa-home"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                {% if request.session.get("login") %}
                    <li><a href="{{ url_for("settings") }}">修改配置</a></li>
                {% endif %}
                <li><a href="#">API介绍</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.session.get("login") %}
                    {% if request.url.path.startswith("/admin") %}
                        <li><a href="/">前台</a></li>
                    {% else %}
                        <li><a href="{{ url_for("admin") }}">后台</a></li>
                    {% endif %}
                    <li><a href="{{ url_for("logout") }}">注销</a></li>
                {% else %}
                    <li><a href="{{ url_for("login") }}">登录</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">关于 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("about") }}">关于本项目</a></li>
                        <li><a href="#">GitHub</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">教程</a></li>
                        <li><a href="#">博客</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">赞助</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>