{% extends "components/layout.html" %}

{% block title %}
    授权信息
{% endblock %}

{% block head %}
    <style>
        td {
            padding: 5px;
            border: 1px solid #ddd;
            word-break: break-all;
        }

        pre > code {
            padding: 5px;
            white-space: normal;
            word-break: break-all;
        }
    </style>

    <script src="{{ url_for("static",path="clipboard.min.js") }}"></script>
{% endblock %}

{% block content %}
    <h2 class="text-center">本次授权结果如下：</h2>
    <h2>授权信息
        <button id="copy" class="btn btn-lg btn-primary">复制</button>
    </h2>
    <pre><code id="code">{{ token | safe }}</code></pre>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>值</th>
        </tr>
        <tr>
            <td>expires_in</td>
            <td>有效时间</td>
            <td>{{ token.get("expires_in") }}</td>
        </tr>
        <tr>
            <td>refresh_token</td>
            <td>刷新token</td>
            <td>{{ token.get("refresh_token") }}</td>
        </tr>
        <tr>
            <td>access_token</td>
            <td>访问令牌</td>
            <td>{{ token.get("access_token") }}</td>
        </tr>
        <tr>
            <td>session_secret</td>
            <td>session_secret</td>
            <td>{{ token.get("session_secret") }}</td>
        </tr>
        <tr>
            <td>session_key</td>
            <td>session_key</td>
            <td>{{ token.get("session_key") }}</td>
        </tr>
        <tr>
            <td>scope</td>
            <td>权限</td>
            <td>{{ token.get("scope") }}</td>
        </tr>
        <tr>
            <td>redirect_uri</td>
            <td>授权地址</td>
            <td>{{ token.get("redirect_uri") }}</td>
        </tr>
    </table>

    <h2>账户信息</h2>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>百度账号</th>
            <th>网盘昵称</th>
            <th>用户ID</th>
            <th>用户类型</th>
        </tr>
        <tr>
            <td>
                <img src="{{ info.get("avatar_url") }}" alt="..." class="img-circle" width="25">
                {{ info.get("baidu_name") }}
            </td>
            <td>{{ info.get("netdisk_name") }}</td>
            <td>{{ info.get("uk") }}</td>
            <td>{{ info.get("vip_type") }}</td>
        </tr>
    </table>

    <h2><a href="./">返回</a></h2>
{% endblock %}

{% block script %}
    <script>
        // 返回指定的text
        let clipboard = new ClipboardJS('#copy', {
            text: function () {
                return $("#code").text();
            }
        });
        // 复制成功事件
        clipboard.on('success', function (e) {
            alert("复制成功")
        });
        // 复制失败事件
        clipboard.on('error', function (e) {
            alert("复制失败")
        });
    </script>
{% endblock %}